# DEV DEFAULTS ONLY - DO NOT PUT REAL SECRETS HERE

# Gateway
GATEWAY_PORT=8080

# Upstreams
CATALOG_PORT=8080
ORDERS_PORT=8080

# Postgres
POSTGRES_MAX_CONNECTIONS=300
POSTGRES_USER=gateway
POSTGRES_PASSWORD=gateway
POSTGRES_DB=gateway
POSTGRES_PORT=5432

# Redis
REDIS_PASSWORD=gateway
REDIS_PORT=6379

# OTel
OTEL_GRPC_PORT=4317
OTEL_HTTP_PORT=4318
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-lgtm:${OTEL_HTTP_PORT}

# Grafana
GRAFANA_PORT=3000
GF_DASHBOARDS_DEFAULT_HOME_DASHBOARD_PATH=/otel-lgtm/grafana/conf/provisioning/dashboards/custom/gateway-overview.json
